DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
AUTH_SECRET="generate-a-long-random-string"
API_URL="https://confraria-backend.fly.dev"
NEXT_PUBLIC_API_URL="https://confraria-backend.fly.dev"

NEXT_PUBLIC_FARO_URL="https://faro-collector-prod-sa-east-1.grafana.net/collect/752df75db1aa84d875fb04cf7440567b"
NEXT_PUBLIC_FARO_APP_NAME="adm-confraria"
NEXT_PUBLIC_FARO_APP_NAMESPACE="confraria"
